*.swp
newfileheader
*.o
registerTest
busTest
registerFileTest
aluTest
ramTest
asm
todo
decoderTest
muxTest
cpuTest
*.bbl
*.blg
*.log
*.aux
*.bbl
*.bcf
report.bib*
*.run.xml
*.tex.bbl
*.tex.blg
ramAddrTranTest
